*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
  display: flex;
  justify-content: center;
  align-items: center; 
  min-height: 100vh;
  background-color: #eff0ef;
  gap: 20px;
}
span{
    color: #c50000;
}
.con-1{
    position: relative;
    width: 200px;
    height: 200px;
    box-shadow: inset 20px 20px 20px rgba(0,0,0,0.05),
    25px 35px 20px rgba(0,0,0,0.05),
    25px 30px 30px rgba(0,0,0,0.05),
    inset -20px -20px 25px rgba(255,255,255,0.9);
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center; 
    border-radius: 30% 70% 37% 63% / 40% 35% 65% 60% ;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;   
}
.container .drop{
    position: relative;
    width: 350px;
    height: 350px;
    box-shadow: inset 20px 20px 20px rgba(0,0,0,0.05),
    25px 35px 20px rgba(0,0,0,0.05),
    25px 30px 30px rgba(0,0,0,0.05),
    inset -20px -20px 25px rgba(255,255,255,0.9);
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center; 
    border-radius: 27% 73% 48% 52% / 48% 42% 58% 52% ;
}
.container .drop:hover{
    border-radius: 50%;
}
.container .drop::before{
    content: '';
    position: absolute;
    width: 35px;
    height: 35px;
    top: 50px;
    left: 85px;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.9;
}
.container .drop::after{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    top: 85px;
    left: 110px;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.9;
}
.container .drop .content{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 40px;
    gap: 15px;
}
.container .drop .content h2{
    position: relative;
    color: #333;
    font-size: 1.5em;
}
.container .drop .content form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.container .drop .content form .inputbox{
    position: relative;
    width: 225px;
    box-shadow: inset 2px 5px 10px rgba(0,0,0,0.1),
    inset -2px -5px 10px rgba(255,255,255,1),
    15px 15px 10px rgba(0,0,0,0.05),
    15px 10px 15px rgba(0,0,0,0.025),
    inset -20px -20px 25px rgba(255,255,255,0.9);
    border-radius: 25px;
    
}
.container .drop .content form .inputbox::before{
    content: '';
    position: absolute;
    top: 4px;
    left: 50%;
    transform: translateX(-50%);
    width: 65%;
    height: 5px;
    background: rgba(255,255,255,0.5);
    border-radius: 5px;
}
.container .drop .content form .inputbox input{
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
    font-size: 1em;
  padding: 10px 15px;
}
.container .drop .content form .inputbox .submit{
    color: #fff;
     text-transform: uppercase;
     font-size: 1em;
     cursor: pointer;
     letter-spacing: 0.1em;
     font-weight: 500;
     border-radius: 20px;
  
}
.container .drop .content form .inputbox:last-child{
    width: 120px;
     background: #3e6272;
    box-shadow: inset 2px 5px 10px rgba(0,0,0,0.1),
    15px 15px 10px rgba(0,0,0,0.05),
    15px 10px 15px rgba(0,0,0,0.025);
    
    transition: 0.5s;
}
.container .drop .content form .inputbox:last-child:hover{
    width: 150px;
}
.btns{
    position: absolute;
    right: 390px;
    bottom: 220px;
    width: 110px;
    height: 129px;
    background: rgb(197, 192, 192);
    text-decoration: none;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    line-height: 1.2em;
    letter-spacing: 0.1em;
    font-size: 0.8em;
    transition: 0.25s;
    box-shadow: inset 10px 10px 10px rgba(190,1,254,0.05),
    15px 25px 10px rgba(190,1,254,0.1),
    15px 20px 20px rgba(190,1,254,0.1),
    15px 10px 15px rgba(0,0,0,0.025),
    inset -10px -10px 15px rgba(255,255,255,0.5);
    border-radius: 48% 52% 70% 30% / 49% 56% 44% 51% ;
    color: #fff;
    background: rgb(33, 131, 196);
}
.btns:hover{
    border-radius: 50%;
}
.btns::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
    opacity: 0.45;
    top: 20px;
    left: 30px;
}
 .signup{
    width: 80px;
    height: 80px;
    right: 360px;
    bottom: 360px;
    border-radius: 52% 48% 47% 53% / 41% 35% 65% 59%;
    background: rgb(158, 118, 158);
    
}
.signup::before{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    left: 15px;
    top: 10px;
}